@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';


@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Inter', sans-serif;
  --font-mono: Geist Mono, ui-monospace, monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);

  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);
}

:root {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Inter', sans-serif;
  --font-mono: Geist Mono, ui-monospace, monospace;

  --warning: #ffaa00ff;
  --success: #00ff73ff;
  --info: #0a99ffff;
  --destructive-foreground: #fafafaff;
  --surface: #ffffffff;
  --surface-foreground: #020817ff;
  --code: #ffffffff;
  --code-foreground: #020817ff;
  --code-highlight: #f8fafcff;
  --code-number: #16a34aff;
  --selection: #f8fafcff;
  --selection-foreground: #020817ff;

  --radius: 0.75rem;
  --spacing: 0.23rem;

  --background: hsl(240 17.6471% 10%);
  --foreground: hsl(240 28.2051% 92.3529%);
  --card: hsl(240 16.6667% 14.1176%);
  --card-foreground: hsl(240 28.2051% 92.3529%);
  --popover: hsl(240 16.6667% 14.1176%);
  --popover-foreground: hsl(240 28.2051% 92.3529%);
  --primary: hsl(251.4706 60.7143% 78.0392%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(244.6154 20.3125% 25.098%);
  --secondary-foreground: hsl(241.6216 60.6557% 88.0392%);
  --muted: hsl(240 19.6078% 20%);
  --muted-foreground: hsl(240 12.6582% 69.0196%);
  --toast-description-color: hsl(240 12.6582% 69.0196%);
  --accent: hsl(240 19.4444% 28.2353%);
  --accent-foreground: hsl(240 28.2051% 92.3529%);
  --destructive: hsl(350, 80%, 64%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(240 15.3846% 25.4902%);
  --input: hsl(240 15.3846% 25.4902%);
  --ring: hsl(251.4706 60.7143% 78.0392%);
  --chart-1: hsl(251.4706 60.7143% 78.0392%);
  --chart-2: hsl(230.4 26.8817% 63.5294%);
  --chart-3: hsl(206.5909 53.6585% 67.8431%);
  --chart-4: hsl(174.2857 25.0996% 50.7843%);
  --chart-5: hsl(325.5 59.7015% 73.7255%);
  --sidebar: hsl(240 16.6667% 14.1176%);
  --sidebar-foreground: hsl(240 28.2051% 92.3529%);
  --sidebar-primary: hsl(251.4706 60.7143% 78.0392%);
  --sidebar-primary-foreground: hsl(240 17.6471% 10%);
  --sidebar-accent: hsl(240 19.4444% 28.2353%);
  --sidebar-accent-foreground: hsl(240 28.2051% 92.3529%);
  --sidebar-border: hsl(240 15.3846% 25.4902%);
  --sidebar-ring: hsl(251.4706 60.7143% 78.0392%);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: #34344b;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 18.1102% 24.902% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 18.1102% 24.902% / 0.06);
  --shadow-sm:
    0px 4px 10px 0px hsl(240 18.1102% 24.902% / 0.12),
    0px 1px 2px -1px hsl(240 18.1102% 24.902% / 0.12);
  --shadow:
    0px 4px 10px 0px hsl(240 18.1102% 24.902% / 0.12),
    0px 1px 2px -1px hsl(240 18.1102% 24.902% / 0.12);
  --shadow-md:
    0px 4px 10px 0px hsl(240 18.1102% 24.902% / 0.12),
    0px 2px 4px -1px hsl(240 18.1102% 24.902% / 0.12);
  --shadow-lg:
    0px 4px 10px 0px hsl(240 18.1102% 24.902% / 0.12),
    0px 4px 6px -1px hsl(240 18.1102% 24.902% / 0.12);
  --shadow-xl:
    0px 4px 10px 0px hsl(240 18.1102% 24.902% / 0.12),
    0px 8px 10px -1px hsl(240 18.1102% 24.902% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 18.1102% 24.902% / 0.3);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
